_site
.sass-cache
.jekyll-metadata
Gemfile.lock
assets/not_yet_used/
.DS_Store
.idea/
.obsidian/
.DS_Store
.obsidian/workspace.json
.DS_Store
.obsidian/core-plugins.json
.obsidian/workspace.json
.DS_Store
